@import '../../scss/index';

.quzza-input {
    height: 35px;
    border: 1px solid $gray;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    @include transition-ease;

    &:focus,&:active,&:hover {
        outline-color: #b1b1b1;
        // outline: none;
    }

    &::placeholder {
        padding-left: 5px;
    }
}