@import '../../scss/variables';

.quizza-btn {
    // background-color: $primary-color;
    // background-image: $primary-gradient;
    color: $white;
    border-radius: 3px;
    width: 100px;
    border: 1px solid $primary-color;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    @include transition-ease;

    &:focus{
        // outline: none !important;
        outline-color: transparent;
    }

    i {
        margin-right: 10px
    }
}