// Author: Ezenwankwo Ugochukwu
// Email: info@devugo.com
// Website: profile.devugo.com

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-family: $opensans
}

@mixin transition-move {
    transition: all 0.5s move;
}

@function set-text-color($color) {
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}

