
.short-underline {
    position: relative;
    @include transition-ease;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 40px;
        height: 5px;
        width: 50px;
        background-color: $primary-color;
    }

}
body {
    background-color: $bg-color;
}

.box-shadow {
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.wrapper {
    max-width: 1280px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-text-color;
}

h1 {
    font-size: 48px;
    font-family: $playfair;
}

h2 {
    font-size: 24px;
    font-family: $montserrat;
}

h3 {
    font-size: 16px;
    font-family: $montserrat;
}

p{
    font-size: 15px;
    color: $paragraph-text-color;
    font-family: $opensans;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mtb-1 {
    margin: 10px 0;
}

.mtb-2 {
    margin: 20px 0;
}

.mtb-3 {
    margin: 30px 0;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.circular {
    border-radius: 50%;
}

.quizza-card {
    background-color: $white;
    // max-width: 70%;
    padding: 10px 10px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10;
}

.btn-gradient-primary {
    background-image: $primary-gradient;
}

// TEXT COLOR STYLES
.text-danger {
    color: $danger-color;
}

.text-success {
    color: $success-color;
}

.text-warning {
    color: $warning-color;
}