@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$playfair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

$bg-color: #f0f7ff;
$white: #fff;
$primary-color: #f62f5e;
$secondary-color: #6eb2fb;
$tertiary-color: #fcc46a;
$reddish: #f3511f;
$yellow: #effc90;
$green: #00d3ca;
$lemon-green: #0de66b;
$purple: #8b1ff0;

$header-text-color: #2e2e2e;
$paragraph-text-color: #6c6c6c;

$gray: #b4b4b4;
$light-gray: #f7f7f7;
$hover-color: #f3efef;
$white: #fff;


